# ACS estimates may have margins of errors larger than values themselves
### Demonstration: Women aged 85+ in Connecticut towns, ACS 2018 5-year estimates, Table B01001, variable 049

In the dataframe, new column `Ratio = Moe / Estimate`. Values of 1 mean that the margins of errors are equal to estimate values (eg 8 &pm; 8). There are 2 towns with such ratios. Ratios greater than 1 represent margins of errors higher than values themselves. There are 9 towns with such towns. To what extent can one rely on such estimates?

In [1]:
import pandas as pd

### Read variables from Census API

In [21]:
females_85plus_raw = pd.read_json('https://api.census.gov/data/2018/acs/acs5?get=NAME,B01001_049E,B01001_049M&for=county%20subdivision:*&in=state:09')

### Create a data frame with Census data

In [39]:
f85 = females_85plus_raw.copy()

#Â Set header
f85.columns = f85.iloc[0]

# Remove 'county subdivisions not defined'
f85 = f85[ f85['county subdivision'] != '00000' ]

# Clean up town names
f85.NAME = f85.NAME.apply(lambda x: x.split(' town,')[0])

# Set index to town name, and remove NAME row
f85 = f85.rename({'B01001_049E': 'Estimate', 'B01001_049M': 'Moe', 'NAME': 'Town'}, axis=1).set_index('Town')
f85 = f85.drop(['NAME'])

# Calculate Moe to Estiamte ratio
f85.Estimate = f85.Estimate.apply(int)
f85.Moe = f85.Moe.apply(int)
f85['Ratio'] = f85.Moe / f85.Estimate

# Print towns with Ratio >= 1
f85[ f85.Ratio >= 1.0 ].filter(['Estimate', 'Moe', 'Ratio']).sort_values(['Ratio'], ascending=False)

0                 Estimate  Moe     Ratio
Town
Barkhamsted              0   12       inf
Sterling                29   46  1.586207
Willington              62   90  1.451613
Union                    3    4  1.333333
Ellington               39   51  1.307692
Canaan                  15   18  1.200000
Bethlehem               19   22  1.157895
Salem                   18   20  1.111111
North Stonington        40   42  1.050000
Colebrook                6    6  1.000000
Scotland                 8    8  1.000000